body {

    font-size: 20px;
    text-align: center;
    background-color: #abe8ce;
    color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



.safe-click-btn {

    margin: 5px;
    padding: 8px;
    position: fixed;
    top: 10px;
    left: 140px;
    background-color: greenyellow;
    color: #fff;
    border: none;
    cursor: pointer;

}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode td{
    background-color: #3498db;
}


.dark-mode-btn {
    background-color: #555;
    color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.undo-btn {
    position: fixed;
    top: 10px;
    left: 70px;
    background-color: greenyellow;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.level {
    margin-bottom: 40px;
    color: red;
}

.board-container {
    display: flex;
    justify-content: center;
}

td {
    text-align: center;
    font-size: 20px;
    width: 60px;
    height: 60px;
    background-color: rgb(69, 83, 75);
    border-radius: 5px;
}


.hint {

    font-size: 30px;
    margin-bottom: 10px;
}


.life {
    font-size: 30px;

    color: #af4c4c;
}

.hint-cell {
    user-select: none;
    cursor: pointer;
}


.timer {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db; /* A shade of blue, change as needed */
    border: 10px solid #2980b9; /* Darker shade of blue for the border */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 685px; 
}

.smiley-btn {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.smiley-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.smiley-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}




header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    color: white
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    font-size: 1px;
}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    color: white
}


.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
}

header {
    background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

header .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}